html {
    scroll-behavior: smooth;
}

.cbot-bg {
    background-color: #003c5b;
}

.cbot-border {
    border-color: #dee2e65e !important;
}

.cbot-link {
    color: #003c5b;
}

.cbot-display-sm {
    font-size: 1.5rem;
}


.hidden {
    display: none;
}

.cbot-alert {
    position: fixed !important;
    width: 100%;
    z-index: 999;
    bottom: -16px;
}

.no-hover {
    color: #17a2b8;
}

.no-hover:hover {
    color: #17a2b8;
    text-decoration: none;
}
