# Common
.DS_Store
.ignore
.envrc*
.env
[.]venv/
*__pycache__/

# Python
db.sqlite3
.pytest_cache/

# Unit test / coverage reports
.cache
tmp/

# JetBrains
/.idea
/*.iml

# Visual Studio
.vscode/

web/staticfiles/
mailhog
