{% extends 'web/base.html' %}
{% block title %}Slack Authentication{% endblock %}
{% block content %}
{% load static %}
<section class="py-5 text-center">
    <div class="container">
        <h1 class="h2 mx-xl-6 font-weight-bold">Authentication</h1>
        <p class="lead">{{msg}}</p>
        {% if error %}
        Please contact us at <a href="mailto:support@calenduck.co" class="cbot-link font-weight-bold">support@calenduck.co</a>
        or give us a shout on twitter <a href="https://twitter.com/calenduckapp" target="_blank"
                                         class="cbot-link font-weight-bold">@calenduckapp</a>.
        {% endif %}
    </div>
</section>
{% endblock %}