<!DOCTYPE html>
{% load static %}
<html class="h-100" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Calenduck - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta
            name="description"
            content="Native Slack integration for Calendly. Receive Slack messages for Calendly new Calendly scheduled and cancelled events. No third party needed."
    />
    <meta name="slack-app-id" content="AS7JCAATV">
    <meta name="theme-color" content="#003c5b">
    <meta name="apple-mobile-web-app-status-bar-style" content="#003c5b">
    <link rel="icon" href="{% static 'web/img/favicon.ico' %}">
    <link
            href="{% static 'web/css/index.css' %}"
            rel="stylesheet"
            type="text/css"
            media="all"
    />
    <link
            href="{% static 'web/css/bootstrap.min.css' %}"
            rel="stylesheet"
            type="text/css"
            media="all"
    />
    <link
            href="{% static 'web/css/fontawesome.min.css' %}"
            rel="stylesheet"
            type="text/css"
            media="all"
    />
    <link
            href="{% static 'web/css/brands.min.css' %}"
            rel="stylesheet"
            type="text/css"
            media="all"
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158067941-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-158067941-1');

    </script>
</head>
<body class="d-flex flex-column h-100 bg-light">
<div class="navbar-container ">
    <nav class="navbar navbar-expand-lg navbar-dark font-weight-bold cbot-bg border-bottom cbot-border">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'web/img/logo.png' %}" alt="logo">
                <span class="font-weight-bold">
                    Calenduck
                </span>
            </a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/#how-it-works">How it works</a>
                    </li>
                    {% block pricing %}
                    {% endblock %}
                    {% block cta %}
                    {% endblock %}
                </ul>
            </div>
        </div>
    </nav>
</div>

{% block content %}
{% endblock %}

<footer class="cbot-bg border-top cbot-border text-light pb-4 mt-auto py-3" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <small class="text-white">&copy; <span id="current-year"></span> All rights reserved. <br>
                    <!--<a href="/privacy" class="text-white font-weight-bold">Privacy Policy</a>-->
                    <!--and-->
                    <!--<a href="/terms" class="text-white font-weight-bold">Terms of Service</a>-->
                </small>
            </div>
            <div class="col-6 text-right">
                <small>
                    <!--<br>-->
                    <a href="/faq/" class="text-white font-weight-bold mr-3">Help</a>
                    <a href="/privacy/" class="text-white font-weight-bold mr-3">Privacy</a>
                    <a href="mailto:andy.idiaghe@gmail.com" class="text-white font-weight-bold mr-3">Contact Us</a>
                    <!--<a href="https://twitter.com/calenduck" class="text-muted"><i class="fab fa-twitter"></i></a>-->
                </small>
            </div>
        </div>
    </div>
</footer>

<script defer type="text/javascript" src="{% static 'web/js/jquery-3.3.1.slim.min.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'web/js/popper.min.js' %}"></script>-->
<script defer type="text/javascript" src="{% static 'web/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/base.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>
