{% extends 'web/base.html' %}
{% block title %}Cancelled{% endblock %}
{% block content %}
{% load static %}
<section class="py-5 text-center">
    <div class="container">
        <h1 class="h2 mx-xl-6 font-weight-bold">Cancelled</h1>
        <p class="lead">
            If you didn’t mean to cancel, <a href="/upgrade/" class="font-weight-bold cbot-link">please do try again</a>,
            or send us an <a href="mailto:andy.idiaghe@gmail.com" class="font-weight-bold cbot-link">email</a>
        </p>
    </div>
</section>
{% endblock %}