{% extends 'web/base.html' %}
{% block title %}Frequently Asked Questions{% endblock %}
{% block content %}
{% load static %}
<section class="py-5">
    <div class="container">
        <h1 class="h2 mx-xl-6 font-weight-bold">Frequently Asked Questions</h1>
        <p class="lead mb-0">
            Who is behind this?
        </p>
        <p class="mb-4">
            Calenduck was created by
            <a class="font-weight-bold cbot-link" href="https://www.andev.me/" target="_blank">Andy Idiaghe</a>.
        </p>
        <p class="lead mb-0">
            Is it secure?
        </p>
        <p class="mb-4">
            We use OAuth and we do not share any of your contacts with third parties or other entities unless it's
            necessary for extra functionality.
            <br>
            Read more on our <a class="font-weight-bold cbot-link" href="/privacy/" target="_blank">Privacy Policy</a>.
        </p>
        <p class="lead mb-0">
            Why does it cost money?
        </p>
        <p class="mb-4">
            Subscription fees pay for server costs and development of new features.
        </p>
        <p class="lead mb-0">
            I am not receiving event notifications!
        </p>
        <p class="mb-4">
            Calenduck relies on Calendly to send notifications when events are scheduled or cancelled.<br>
            Please check their <a class="font-weight-bold cbot-link"
                                  href="https://www.calendlystatus.com/" target="_blank">status page</a> for more info
            or contact us.
        </p>
        <p class="lead mb-0">
            How do I request a feature?
        </p>
        <p class="mb-4">
            <a href="mailto:andy.idiaghe@gmail.com"
               class="cbot-link font-weight-bold">Contact the developer</a> or give us a shout on twitter <a
                href="https://twitter.com/calenduckapp" target="_blank"
                class="cbot-link font-weight-bold">@calenduckapp</a>.
            <br>
            We'd love to hear from you.
        </p>
    </div>
</section>
{% endblock %}
