{% extends 'web/base.html' %}
{% block title %}Frequenly Asked Questions{% endblock %}
{% block content %}
{% load static %}
<section class="py-5 text-center">
    <div class="container">
        <h1 class="h2 mx-xl-6 font-weight-bold">Frequently Asked Questions</h1>
        <p class="lead mt-5 mb-0">
            Who is behind this?
        </p>
        <p class="mb-4">
            Calenduck was created by
            <a class="font-weight-bold cbot-link" href="https://www.andev.me/" target="_blank">Andy Idiaghe</a>.
        </p>
        <p class="lead mb-0">
            Is it secure?
        </p>
        <p class="mb-4">
            We use OAuth and we do not share any of your contacts with third parties or other entities.
        </p>
        <p class="lead mb-0">
            Why does it cost money?
        </p>
        <p class="mb-4">
            Subscription fees pay for server costs and development of new features.
        </p>
        <p class="lead mb-0">
            How do I request a feature?
        </p>
        <p class="mb-4">
            <a href="mailto:andy.idiaghe@gmail.com"
               class="cbot-link font-weight-bold">Email us</a>. We'd love to hear from you.
        </p>
    </div>
</section>
{% endblock %}
