{% extends 'web/base.html' %}
{% block title %}Home{% endblock %}
{% block tutorial %}
    <li class="nav-item">
        <a class="nav-link" href="#how-it-works">How it works</a>
    </li>
{% endblock %}
{% block cta %}
<li class="nav-item">
    <a class="btn btn-light font-weight-bold" href="/compare" role="button">Compare Now</a>
</li>
{% endblock %}
{% block content %}
{% load static %}
<main class="jumbotron jumbotron rmc-jumbotron text-center text-light">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-xl-8">
                <h1 class="mb-3 mb-md-4 rmc-title">Compare spareroom flatshares</h1>
                <p class="lead">
                    Simplify your flat hunt. Compare multiple rooms side by side and save countless hours of back-and-fort and time sucking search.
                </p>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-12 col-md-9">
                <div class="card card-body">
                    <form class="row" method="POST">
                        {% csrf_token %}
                        <div class="text-danger">{{ form.non_field_errors }}</div>
                        <div class="col-lg">
                            <div class="form-group mb-lg-0">
                                <input
                                        type="text"
                                        class="form-control form-control-lg form-control input"
                                        name="{{ form.room_ad.name }}"
                                        id="{{ form.room_ad.id }}"
                                        placeholder="{{ form.room_ad.initial }}"
                                        required
                                />
                                {% for error in form.room_ad.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-lg-auto">
                            <button type="submit" id="submit"
                                    class="btn btn-lg btn-dark rmc-cta btn-block font-weight-bold">Try it out!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<section class="text-center my-4">
    <h2 class="display-4 mx-2 font-weight-bold">Built from the ground up</h2>
    <p class="lead">
        Address the elephant in the room. Find the best pad quickly and stress free. <br> Your shortlist just got shorter.</p>
</section>
<section id="how-it-works">
    <div class="container my-5 py-5">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-4">
                <h2 class="h1 font-weight-bold">01</h2>
                <p class="lead">Browse spareroom, and select flatshares you're interested in.</p>
                <!--<p class="lead">Browse spareroom, and select the flatshares you're interested in. Have you tried our browser extension?</p>-->
            </div>
            <div class="col-lg-6 w-100">
                <img src="https://via.placeholder.com/600x450" alt="Image" class="rounded shadow-3d w-100">
            </div>
        </div>
    </div>
</section>
<section class="bg-white">
    <div class="container my-5 py-5">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-4 order-lg-2">
                <h2 class="h1 font-weight-bold">02</h2>
                <p class="lead">Copy and paste the links in the form. Let us extract all the info from your selected ads.</p>
            </div>
            <div class="col-lg-6 order-lg-1 w-100">
                <img src="https://via.placeholder.com/600x450" alt="Image" class="rounded shadow-3d w-100">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container my-5 py-5">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-4">
                <h2 class="h1 font-weight-bold">03</h2>
                <p class="lead">Sit down, relax and compare side by side all the features. No more need for endless spreadsheets!</p>
            </div>
            <div class="col-lg-6 w-100">
                <img src="https://via.placeholder.com/600x450" alt="Image" class="rounded shadow-3d w-100">
            </div>
        </div>
    </div>
</section>
<section class="rmc-bg-color text-light">
    <div class="container my-5 py-5">
        <div class="row justify-content-center text-center">
            <div class="col">
                <h3 class="h2 font-weight-bold">You're in good company</h3>
                <p>See what happy users have to say about RoomCompare</p>
            </div>
        </div>
        <div class="row justify-content-center mt-5 text-dark">
            <div class="col-lg-8 col-md-10">
                <div class="carousel" data-flickity>
                    <div class="carousel-cell">
                        <div class="card card-body flex-row py-4">
                            <img src="{% static 'web/img/avatars/avatar-2.jpg' %}" alt="Avatar 2" class="rmc-avatar img-fluid">
                            <div class="ml-3">
                                <h5 class="font-weight-bold">
                                    “Helped me sort through 5 or so flats seamlessy...Now I just need to actually go and see the places.”
                                </h5>
                                <div class="avatar-author d-block">
                                  <h6>Benjamin Cameron</h6>
                                  <small>Designer</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="card card-body flex-row py-4">
                            <img src="{% static 'web/img/avatars/avatar-1.jpg' %}" alt="Avatar 1" class="rmc-avatar img-fluid">
                            <div class="ml-3">
                                <h5 class="font-weight-bold">
                                    “I really wish I had that kind of tool when I was flat hunting!”
                                </h5>
                                <div class="avatar-author d-block">
                                  <h6>Annabelle Porter</h6>
                                  <small>Marketer</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="card card-body flex-row py-4">
                            <img src="{% static 'web/img/avatars/avatar-3.jpg' %}" alt="Avatar 3" class="rmc-avatar img-fluid">
                            <div class="ml-3">
                                <h5 class="font-weight-bold">
                                    “Looks great! Helped me and my mate find the best flat for us in Mile End!”
                                </h5>
                                <div class="avatar-author d-block">
                                  <h6>Hannah Grote</h6>
                                  <small>Uni student</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container my-5 py-5">
        <div class="row justify-content-center text-center">
            <div class="col-xl-8">
                <h3 class="h2 font-weight-bold">Ready to find out what room fits you the best?</h3>
            </div>
            <p class="lead">
                We compare spareroom ads and help you find the one that feels just right.
                <br>
                Gone are the days of multiple open tabs, windows and spreadsheets.
            </p>
        </div>
        <div class="row justify-content-center mt-4">
            <a class="btn btn-lg btn-dark rmc-cta font-weight-bold" href="/compare" role="button">Compare Now</a>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
{% load static %}
<script type="text/javascript" src="{% static 'web/js/flickity.pkgd.min.js' %}"></script>
{% endblock %}