{% extends 'web/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block tutorial %}
<li class="nav-item">
    <a class="nav-link" href="/#how-it-works">How it works</a>
</li>
{% endblock %}
{% block content %}
<main class="text-light cbot-bg">
    <div class="container my-5 py-5">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6">
                <h2 class="h1 font-weight-bold">Calendly events for Slack</h2>
                <p class="lead">Native calendly integration for slack. Receive event notifications directly in your
                    workspace.</p>
                <p>
                    <a href="https://slack.com/oauth/v2/authorize?scope={{oauth_scope}}&client_id={{client_id}}"
                       role="button" class="btn btn-lg btn-outline-light">
                        <span class="d-flex align-items-center">
                        <i class="fab fa-slack fa-2x"></i> &nbsp; Add to&nbsp;<span
                                class="font-weight-bold">Slack</span>
                        </span>
                    </a>
                </p>
            </div>
            <div class="col-lg-6 w-100">
                <img src="https://via.placeholder.com/600x450" alt="Image" class="rounded shadow-3d w-100">
            </div>
        </div>
    </div>
</main>
<section id="how-it-works" class="bg-white">
    <div class="container my-5 py-5">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-4 order-lg-2">
                <h2 class="h1 font-weight-bold">/connect</h2>
                <p class="lead">Slash connect, followed by your <a
                        href="https://developer.calendly.com/v1/docs/getting-your-authentication-token" target="_blank"
                        class="font-weight-bold cbot-link">calendly authentication token</a> to connect your slack
                    profile to calendly</p>
            </div>
            <div class="col-lg-6 order-lg-1 w-100">
                <img src="https://via.placeholder.com/600x450" alt="Image" class="rounded shadow-3d w-100">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container my-5 py-5">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-4">
                <h2 class="h1 font-weight-bold">That's it!</h2>
                <p class="lead">Sit down, relax and let us do the magic. Event invites and cancellations will now be
                    sent directly to you by CalendlyBot</p>
            </div>
            <div class="col-lg-6 w-100">
                <img src="https://via.placeholder.com/600x450" alt="Image" class="rounded shadow-3d w-100">
            </div>
        </div>
    </div>
</section>

<section id="pricing">
    <div class="container">
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h2 class="h1 font-weight-bold">Simple, transparent pricing</h2>
            <p class="lead">
                CalendlyBot starts with a 7 day trial, no credit card required.
            </p>
        </div>
        <div class="row mb-5">
            <div class="col-4">
                <div class="align-items-center">
                    <p class="lead font-weight-bold">Standard</p>
                    <div class="d-flex align-items-start pb-md-2">
                        <span class="h3 font-weight-bold">$</span>
                        <span class="display-4 mb-0">4<span class="cbot-display-sm">/month</span></span>
                    </div>
                    <span class="text-small text-muted pb-md-4">up to 8 users</span>
                </div>
            </div>
            <div class="col-4">
                <div class="align-items-center">
                    <p class="lead font-weight-bold">Business</p>
                    <div class="d-flex align-items-start pb-md-2">
                        <span class="h3 font-weight-bold">$</span>
                        <span class="display-4 mb-0">19<span class="cbot-display-sm">/month</span></span>
                    </div>
                    <span class="text-small text-muted pb-md-4">up to 20 users</span>
                </div>
            </div>
            <div class="col-4">
                <div class="align-items-center">
                    <p class="lead font-weight-bold">Enterprise</p>
                    <div class="d-flex align-items-start pb-md-2">
                        <span class="h3 font-weight-bold">$</span>
                        <span class="display-4 mb-0">49<span class="cbot-display-sm">/month</span></span>
                    </div>
                    <span class="text-small text-muted pb-md-4">more than 20 users</span>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                <span>Interested in a custom plan? <a href="#" class="hover-arrow">Get in touch</a>
                </span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cbot-bg text-light">
    <div class="container">
        <div class="col-12 col-md-9">
            <p class="lead">
                Receive notifications directly in your workspace. Install now!
            </p>
            <a href="https://slack.com/oauth/v2/authorize?scope={{oauth_scope}}&client_id={{client_id}}"
               role="button" class="btn btn-lg btn-outline-light">
        <span class="d-flex align-items-center">
        <i class="fab fa-slack fa-2x"></i> &nbsp; Add to&nbsp;<span
                class="font-weight-bold">Slack</span>
        </span>
            </a>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
{% load static %}
{% endblock %}