{% extends 'web/base.html' %}
{% block title %}Privacy Policy{% endblock %}
{% block content %}
{% load static %}
<section class="py-5">
    <div class="container">
        <h1 class="h2 mx-xl-6 font-weight-bold">Privacy Policy</h1>

        <p>This policy is effective as of 1st April 2020.</p>

        <p>Your privacy is important to us. It is Calenduck's policy to respect your privacy regarding any information
            we may collect from you across our website, <a class="font-weight-bold cbot-link"
                                                           href="/">calenduck.co</a>,
            and other sites ans services we own and operate.</p>

        <h2 class="h3 mx-xl-6 font-weight-bold">Information Collection and Use</h2>

        <p class="lead">Data Usage</p>
        <p>We only ask for personal information when we truly need it to provide a service to you. We collect it by fair
            and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it
            will be used.</p>

        <p>
            These include:
            <ul>
                <li>Slack Workspace Id</li>
                <li>Slack User Id</li>
                <li>Slack User display name</li>
                <li>Slack User email</li>
                <li>Slack Public Channels</li>
                <li>Calendly Api Key</li>
                <li>Calendly Event data</li>
            </ul>
        </p>

        <p class="lead">Data Retention & Security</p>
        <p>We only retain collected information for as long as necessary to provide you with your requested service.
            What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as
            unauthorised access, disclosure, copying, use or modification.</p>

        <p class="lead">Service Providers</p>
        <p>Our website and services may link to external sites that are not operated by us. Please be aware that we have no control
            over the content and practices of these sites, and cannot accept responsibility or liability for their
            respective privacy policies.</p>

        <ul>
            <li>Stripe (Billing and payment processor for purchases)</li>
            <li>Heroku (Hosting provider for app and data storage)</li>
            <li>Amazon Web Services (Hosting provider for app and data storage)</li>
            <li>Google Analytics (Service analytics to track and analyze Service usage)</li>
            <li>Sendinblue (Email provider for digital marketing and campaigns)</li>
        </ul>

        <p class="lead">Consent, Tracking & Cookies Data</p>

        <p>We don’t share any personally identifying information publicly or with third-parties, except when required to
            by law. You are free to refuse our request for your personal information, with the understanding that we may
            be
            unable to provide you with some of your desired services.</p>
        <p>Your continued use of our website will be regarded as acceptance of our practices around privacy and personal
            information.</p>

        <p class="lead">Further Questions</p>
        <p>Visit our <a class="font-weight-bold cbot-link" href="/faq/">Frequently Asked Quesions</a> page.</p>
        <p class="lead">Contact Us</p>
        <p>
            If you have any questions about how we handle user data and personal information, feel free to
            <a class="font-weight-bold cbot-link"
               href="mailto:support@calenduck.co?subject=Privacy Enquiry">contact us</a>.
        </p>
    </div>
</section>
{% endblock %}
