{% extends 'web/base.html' %}
{% block title %}Privacy Policy{% endblock %}
{% block content %}
{% load static %}
<section class="py-5">
    <div class="container">
        <h1 class="h2 mx-xl-6 font-weight-bold">Privacy Policy</h1>
        <p>This policy is effective as of 13th April 2020.</p>
        <p>
            Blackfoot Digital ltd (“Calenduck”, “we”, and “us”) provides services that help teams improve scheduling
            meetings and productivity.
            <br>
            This Privacy Policy describes the types of Personal Data we collect through through Calenduck, and other
            related products, applications, communications, and services (“Services”) and via our online presence,
            which includes our main website at <a class="font-weight-bold cbot-link" href="/">calenduck.co</a>,
            as well as services and websites that we enable Internet users to access (collectively, our “Sites”).
            Personal Data is any information that relates to an identified or identifiable individual.
            <br>
            This Privacy Policy does not apply to third-party websites, products, or services, even if they link to us,
            and you should consider the privacy practices of those third-parties carefully.
        </p>
        <hr>

        <h2 class="h3 font-weight-bold">Information Collection and Use</h2>
        <h3 class="h4">Data Usage</h3>
        <p>We only ask for personal information when we truly need it to provide a service to you. We collect it by fair
            and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it
            will be used.
        </p>

        These include:
        <ul>
            <li>Slack Workspace Id</li>
            <li>Slack User Id</li>
            <li>Slack User display name</li>
            <li>Slack User email</li>
            <li>Calendly Api Key</li>
        </ul>
        <h3 class="h4" id="subprocessors">Service Providers/Subprocessors</h3>
        <p>Our website and services may link to external sites that are not operated by us. Please be aware that we have
            no control
            over the content and practices of these sites, and cannot accept responsibility or liability for their
            respective privacy policies.</p>

        <ul>
            <li>Stripe (Billing and payment processor for purchases)</li>
            <li>Heroku (Hosting provider for app and data storage)</li>
            <li>Amazon Web Services (Hosting provider for app and data storage)</li>
            <li>Google Analytics (Service analytics to track and analyze Service usage)</li>
            <li>Sendinblue (Email provider for digital marketing and campaigns)</li>
        </ul>

        <h2 class="h3 font-weight-bold">
            Data Retention & Security
        </h2>
        <p>
            We only retain collected information for as long as necessary to provide you with your requested service.
            What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as
            unauthorised access, disclosure, copying, use or modification.
        </p>
        <p>
            We make reasonable efforts to ensure a level of security appropriate to the risk associated with the
            processing of Personal Data. We maintain organizational, technical and administrative measures designed to
            protect Personal Data within our organization against unauthorized access, destruction, loss, alteration or
            misuse.
        </p>
        Our security measures include:
        <ul>
            <li>
                <p>Written incident response and data breach notification processes;</p>
            </li>
            <li>
                <p>Encrypting Data at rest using AES-256, block-level storage encryption;</p>
            </li>
            <li>
                <p>Transmitting Data using HTTPS and SSL/TLS, including transmissions between Calenduck, Calendly, and
                    Slack; and</p>
            </li>
            <li>
                <p>Not storing credit card information on our systems. Instead, we depend on Stripe, a company dedicated
                    to this task. Stripe is certified to PCI Service Provider Level 1, the most stringent level of
                    certification available.</p>
            </li>
        </ul>
        <p>
            Unfortunately, no method of transmission, or method of electronic storage, is 100% secure. Therefore, we
            cannot guarantee its absolute security. In the event of a data breach that affects your Personal Data, we
            will act promptly to mitigate the impact of a breach and notify any affected users without undue delay.
        </p>
        <p>
            If you are a Calenduck User, we retain your Personal Data as long as we are providing the Services to
            you. We may retain certain Personal Data indefinitely, unless you delete it or request its deletion.
            Where we retain data, we do so in accordance with any limitation periods and records retention obligations
            that are imposed by applicable law.
        </p>

        <h2 class="h3 font-weight-bold">Your Rights and Choices</h2>
        <p>
            You have choices regarding our use and disclosure of your Personal Data:
        </p>

        <ol>
            <li>
                <p>Opting out of receiving electronic communications from us. If you no longer want to receive
                    marketing-related emails from us, you may opt-out via the unsubscribe link included in such emails.
                    We will try to comply with your request(s) as soon as reasonably practicable.
                    Please note that if you opt-out of receiving marketing-related emails from us,
                    we may still send you important administrative messages that are required
                    to provide you with our Services.</p>
            </li>
            <li>
                <p>How you can see or change your account Personal Data. If You would like to review, correct, or update
                    Personal Data that You have previously disclosed to us, You may do so by contacting us.
                </p>
            </li>
            <li>
                <p>
                    Your data protection rights. Depending on your location and subject to applicable law, you may have
                    the following rights with regard to the Personal Data we control about you:
                </p>
                <ul>
                    <li>
                        <p>
                            The right to request confirmation of whether Calenduck processes Personal Data relating to
                            you,
                            and if so, to request a copy of that Personal Data;
                        </p>
                    </li>
                    <li>
                        <p>
                            The right to request that Calenduck rectifies or updates your Personal Data that is
                            inaccurate, incomplete or outdated;
                        </p>
                    </li>
                    <li>
                        <p>
                            The right to request that Calenduck erase your Personal Data in certain
                            circumstances provided by law;
                        </p>
                    </li>
                    <li>
                        <p>
                            The right to request that Calenduck restrict the use of your Personal Data in certain
                            circumstances, such as while Calenduck considers another request that you have submitted
                            (including a request that Calenduck make an update to your Personal Data); and
                        </p>
                    </li>
                    <li>
                        <p>
                            The right to request that we export to another company, where technically feasible,
                            your Personal Data that we hold in order to provide Services to you.
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <p>
                    Process for exercising data protection rights. In order to exercise your data protection rights, you
                    may contact Calenduck as described in the Contact Us section below. We take each request seriously.
                    We will comply with your request to the extent required by applicable law.
                    We will not be able to respond to a request if we no longer hold your Personal Data.
                    If you feel that you have not received a satisfactory
                    response from us, you may consult with the data protection authority in your country.
                </p>
            </li>
        </ol>

        <p>
            For your protection, we may need to verify your identity before responding to your request, such as
            verifying that the email address from which you send the request matches your email address that we have on
            file. If we no longer need to process Personal Data about you in order to provide our Services or our Sites,
            we will not maintain, acquire or process additional information in order to identify you for the purpose of
            responding to your request.
        </p>


        <h2 class="h3 font-weight-bold">Consent, Tracking & Cookies Data</h2>
        <p>We don’t share any personally identifying information publicly or with third-parties, except when required to
            by law. You are free to refuse our request for your personal information, with the understanding that we may
            be
            unable to provide you with some of your desired services.</p>
        <p>Your continued use of our website will be regarded as acceptance of our practices around privacy and personal
            information.</p>

        <h2 class="h3 font-weight-bold">Further Questions</h2>
        <p>Visit our <a class="font-weight-bold cbot-link" href="/faq/">Frequently Asked Quesions</a> page or
            <a class="font-weight-bold cbot-link"
               href="mailto:support@calenduck.co?subject=Privacy Enquiry">contact us</a> if you have any questions about
            how we handle user data and personal information.
        </p>
    </div>
</section>
{% endblock %}
