{% extends 'web/base.html' %}
{% block title %}Subscribe{% endblock %}
{% block content %}
{% load static %}
<section class="py-5 text-center">
    <div class="container">
        <h1 class="h2 mx-xl-6 font-weight-bold">Subscribe</h1>
        {% if has_subscription %}
        <p class="lead">Looks like your workspace already has a valid Calenduck subscription.<br>Go ahead and use our
            product on Slack!</p>
        {% else %}
        <p class="lead">
            Loading subscription page...
        </p>
        <p id="help" class="hidden">This is taking some time. Try to reload the page or send us an <a
                href="mailto:support@calenduck.co?subject=Upgrade Page Hangs" class="font-weight-bold cbot-link">email</a> if things don't work.</p>
        {% endif %}
    </div>
</section>
{% endblock %}
{% block js %}
<script src="https://js.stripe.com/v3/"></script>
<script>
    window.CBot = window.CBot || {};
    window.CBot.SPK = '{{ stripePublishableKey }}';
    window.CBot.SCid = '{{ stripeCheckoutId }}';
    window.hasSubscription = '{{ hasSubscription }}';
</script>
<script type="text/javascript" src="{% static 'web/js/subscribe.js' %}" defer></script>
{% endblock %}