{% extends 'web/base.html' %}
{% block title %}Terms of Service{% endblock %}
{% block content %}
{% load static %}
<section class="py-5">
    <div class="container">
        <h1 class="h2 mx-xl-6 font-weight-bold">Terms of Service</h1>
        <p>This policy is effective as of 13th April 2020.</p>
        <p>
            This Terms of Service (“Agreement”) is a legal agreement between Blackfoot Digital ltd (“Calenduck”, “us”,
            or “we”) and the entity or person (“you”, “your”, or “user”) who purchased a subscription or authenticated
            through Slack and/or Calendly to receive certain notification, data, technology and analytics services, and
            other business services that may be offered by Calenduck and other
            related products, applications, communications and services (“Services”). This Agreement describes the terms
            and conditions that apply to your use of the Services.
        </p>
        <p>
            If you do not understand any of the terms of this Agreement, please contact us before using the Services.
            You may not access or use any Services unless you agree to abide by all of the terms and conditions in this
            Agreement.
        </p>
        <hr>
        <ol>
            <li>
                <h2 class="h3 font-weight-bold">
                    Account Terms
                </h2>
                <ul>
                    <li>
                        <p>
                            The Services are not available to persons under the age of 16. If you are between the ages
                            of 16
                            and 18 (or between 16 and the age of legal majority in your country of residence), you may
                            only
                            use the Services under the supervision of a parent or legal guardian who agrees to be bound
                            by
                            this Agreement. By using the Services, you represent that you are at least 16 years of age.
                        </p>
                    </li>
                    <li>
                        <p>
                            If you create a Calenduck account on behalf of an entity, such as your business or
                            employer, you represent that you have the legal authority to bind that entity to this
                            Agreement.
                        </p>
                    </li>
                    <li>
                        <p>
                            You are responsible for maintaining the security of your account and password. Calenduck
                            cannot and will not be liable for any loss or damage from your failure to comply with this
                            security obligation.
                        </p>
                    </li>
                    <li>
                        <p>
                            You are responsible for all content posted and activity that occurs under your account (even
                            when content is posted by others who have their own logins under your account).
                        </p>
                    </li>
                    <li>
                        <p>
                            You may not use the Services for any illegal purpose or to violate any laws in your
                            jurisdiction
                            (including but not limited to copyright laws).
                        </p>
                    </li>
                    <li>
                        <p>
                            You must provide your accurate legal full name, a valid email address, and any other
                            information
                            requested in order to complete the signup process.
                        </p>
                    </li>
                    <li>
                        <p>
                            Your login may only be used by one person. A single login shared by multiple people is not
                            permitted. You may create separate logins for as many people as you'd like.
                        </p>
                    </li>
                    <li>
                        <p>
                            You must be a human. Accounts registered by “bots” or other automated methods are not
                            permitted.
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <h2 class="h3 font-weight-bold">
                    User Content
                </h2>
                <p>
                    Your User Content may be uploaded to the Services, either directly by you or indirectly when we
                    import your data from Calendly and Slack in order to provide Services to you. This User Content may
                    include text, data, images, designs, source code, feature descriptions, and any other content
                    created, posted, stored or transmitted by you on the Services (collectively, “User Content”). You
                    hereby grant to Calendly a fully paid, worldwide, non-exclusive, and transferable license to
                    use, distribute, display, reproduce, sublicense, publish, and modify the User Content for purposes
                    of providing the Services and for Calenduck's other legitimate business reasons.
                </p>

                <p>
                    You are solely responsible for the content of, and for any harm resulting from, any User Content
                    that you or your users make available via the Services. All content provided to the Services must
                    comply with U.K. and European copyright law. We claim no intellectual property rights over the User
                    Content you
                    provide. We do not pre-screen User Content, but reserve the right (but not the obligation) in our
                    sole discretion to refuse or remove User Content that is available via the Services.
                </p>

                <p>
                    Calenduck considers User Content confidential to you. We will protect User Content from
                    unauthorized use, access, or disclosure in the same manner that we would use to protect our own
                    confidential information of a similar nature and in no event with less than a reasonable degree of
                    care. For more information on how we use and treat your User Content and other data, please see the
                    section titled <a class="cbot-link font-weight-bold" href="/terms/#data-usage">“Data Usage, Privacy, and Security”</a>.
                </p>
            </li>
            <li>
                <h2 class="h3 font-weight-bold">
                    License
                </h2>
                <p>
                    Except for User Content, the Services, information, and materials contained therein are the property
                    of Calenduck and its licensors, and are protected from unauthorized copying and dissemination
                    by copyright law, trademark law, and other intellectual property laws. Subject to this Agreement,
                    Calenduck grants you a limited, non-transferable, non-exclusive, revocable license to use the
                    Services (the "License"). Your rights under this Agreement do not include any right to use the
                    trademarks, service marks, and trade names of Calenduck for any reason.
                </p>
                <p>
                    You may not: (i) copy, modify, create a derivative work of, reverse engineer, or otherwise attempt
                    to extract the source code or design elements of Calenduck; (ii) reproduce the features or
                    functionality of Calenduck in a similar or competing product, including any new or existing,
                    publicly listed product on the Slack App Directory; (iii) use the Services in
                    a manner that violates this Agreement; or (iv) attempt to do any of the foregoing.
                </p>
            </li>
            <li>
                <h2 class="h3 font-weight-bold">
                    Subscription Fees and Payment
                </h2>
                <ul>
                    <li>
                        <p>
                            The Services are offered with a free trial as specified on our website. We may increase or
                            decrease the duration of your free trial at our sole discretion. Usage beyond the free trial
                            limit requires your purchase of a paid subscription. If you fail to pay for additional
                            usage, your account will be frozen and inaccessible until payment is made.
                        </p>
                    </li>
                    <li>
                        <p>
                            Any upgrade or downgrade in plan level will result in the new rate being charged at the next
                            billing cycle. There will be no prorating for downgrades in between billing cycles.
                        </p>
                    </li>
                    <li>
                        <p>
                            Payments are non-refundable. There will be no refunds or credits for partial months of
                            service or for months unused with an open account. The Services may be offered for free for
                            non-commercial, open-source projects, as solely determined by us.
                        </p>
                    </li>
                    <li>
                        <p>
                            Calenduck may change its fees and payment policies for the Services by notifying you at
                            least thirty (30) days before the beginning of the billing cycle in which such change will
                            take effect.
                        </p>
                    </li>
                    <li>
                        <p>
                            All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and
                            you
                            are responsible for payment of all such taxes, levies, or duties.
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <h2 class="h3 font-weight-bold">
                    Suspension, Cancellation and Termination
                </h2>
                <ul>
                    <li>
                        <p>You must cancel your account via support request at our website using your account email. Any
                            other emails or phone requests to cancel your account will not be considered a cancellation.
                        </p>
                    </li>
                    <li>
                        <p>If you cancel the Services before the end of your current paid up month, your cancellation
                            will take effect immediately, and you will not be charged again. But there will not be a
                            refund
                            or any prorating of unused time in the last billing cycle.
                        </p>
                    </li>
                    <li>
                        <p>
                            Calenduck, in its sole discretion, has the right to suspend or terminate your account
                            and refuse any and all current or future use of the Services for any reason at any time.
                            Such
                            termination of the Services will result in the deactivation or deletion of your account.
                            Calenduck has the right to delete all User Content following termination or expiration of
                            this
                            Agreement.
                        </p>
                    </li>
                </ul>
            </li>
            <li id="data-usage">
                <h2 class="h3 font-weight-bold">
                    Data Usage, Privacy, and Security
                </h2>
                <p>
                    Protecting, securing, and maintaining the information processed and handled through the Services is
                    one of our top priorities, and it should be yours too. Please read the
                    <a class="cbot-link font-weight-bold" href="/privacy/" target="_blank">Calenduck Privacy Policy</a>,
                    which describes the types of information we collect from you, how we use your information,
                    and the legal bases we have to process your information.
                </p>
            </li>
            <li>
                <h2 class="h3 font-weight-bold">
                    Publicity
                </h2>
                <p>
                    You agree to allow us to use your company's or organization's name and logo to identify you as a
                    Calenduck user or customer on our website and in promotional materials. You may revoke this
                    permission by notifying us in writing to stop using your organization's name in our promotional
                    materials. However, Calenduck will have no obligation to remove or recall any prior use or
                    distribution of the promotional materials.
                </p>
            </li>
            <li>
                <h2 class="h3 font-weight-bold">
                    General Conditions
                </h2>
                <ol>
                    <li>
                        <h3 class="h4">
                            Right to Amend
                        </h3>
                        <p>
                            We reserve the right, at our sole discretion, to amend this Agreement at any time. We will
                            notify you of material changes to this Agreement, such as price changes, at least 30 days
                            prior to the change taking effect by posting a notice on our website.
                            For non-material modifications, your continued use of our Services constitutes agreement
                            to our revisions to the Agreement.
                            <br>
                            You can access a copy of the current terms of this Agreement on our website at any time.
                            You can find out when this Agreement was last changed by checking the
                            “Last Updated” date at the top of the Agreement.
                        </p>
                    </li>
                    <li>
                        <h3 class="h4">
                            Assignment
                        </h3>
                        <p>
                            Calenduck may assign or delegate this Agreement and/or our Privacy Policy, in whole or
                            in part, to any person or entity at any time with or without your consent.
                            <br>
                            Except in connection with a merger, acquisition, corporate reorganization, or sale of all
                            or substantially all of your business or assets, subject to Notice to Calenduck,
                            you may not assign or delegate any rights or obligations under the
                            Agreement or Privacy Policy without our prior written consent, and any unauthorized
                            assignment and delegation by you is void.
                        </p>
                    </li>
                    <li>
                        <h3 class="h4">
                            No Agency; Third-Party Services
                        </h3>
                        <p>
                            The relationship of the parties under this Agreement is that of independent contractors.
                            Neither party will be deemed to be an employer, employee, agent, partner or legal representative of the
                            other for any purpose and neither will have any right, power or authority to create any obligation or
                            responsibility on the behalf of the other.
                            <br>
                            Calenduck supports integrations with Calendly and Slack and uses other third-party
                            providers in providing the Services (“Third-Party Services”). In order for us to communicate with such
                            Third-Party Services, you may be required to input credentials in order for us to access and receive
                            relevant information from the Third-Party Service.
                            By enabling use of the Services with any Third-Party Service,
                            you authorize Calenduck to access your accounts with the Third-Party Service for the
                            purposes described in this Agreement.
                            <br>
                            You access and use any Third-Party Service based on your own evaluation and at your own risk.
                            You understand that your use of any Third-Party Service is not governed by this Agreement.
                            If you decide to use a Third-Party Service, you will be responsible for reviewing,
                            understanding and accepting the terms and conditions associated with its use.
                            We expressly disclaim all responsibility and liability for your use of any Third-Party Service.
                            <br>
                            Please also remember that when you use a Third-Party Service, our
                            Privacy Policy is no longer in effect. Your use of a Third-Party Service, including those
                            that have a link on our website, is subject to that Third-Party Service's own terms of use and privacy
                            policies.
                        </p>
                    </li>
                    <li>
                        <h3 class="h4">
                            Excessive Use
                        </h3>
                        <p>
                            We reserve the right to temporarily disable your account if your usage significantly exceeds
                            the average usage of other users.
                            Of course, we'll reach out to you before taking any action except in rare cases
                            where the level of use may negatively impact the performance of the Services for other
                            users.
                        </p>
                    </li>
                    <li>
                        <h3 class="h4">
                            Force Majeure
                        </h3>
                        <p>
                            Neither party will be liable for any delays in processing or other nonperformance caused by
                            telecommunications, utility, failures, or equipment failures; labor strife, riots, war, or
                            terrorist attacks; nonperformance of our vendors or suppliers, fires or acts of nature; or any other
                            event over which the respective party has no reasonable control.
                        </p>
                    </li>
                    <li>
                        <h3 class="h4">
                            Your Liability for Third-Party Claims Against Us
                        </h3>
                        <p>
                            You agree to hold harmless and indemnify Calenduck, and its subsidiaries, affiliates,
                            officers, agents, employees, advertisers, licensors, suppliers or partners from and
                            against any third party claim arising from or in any way related to
                            <br>
                            (a) your breach of the Agreement,
                            (b) your use of the Services, or (c) your violation of applicable laws, rules or regulations
                            in connection with the Services, including any liability or expense arising from all claims,
                            losses, damages (actual and consequential), suits, judgments, litigation costs and
                            attorneys' fees, of every kind and nature.
                            <br>
                            In such a case, Calenduck will provide you with written notice of such claim, suit or action.
                        </p>
                    </li>
                    <li>
                        <h3 class="h4">
                            No Warranties
                        </h3>
                        <p>
                            IF YOU ACCESS THE SERVICES, YOU DO SO AT YOUR OWN RISK. WE PROVIDE THE SERVICES “AS IS”,
                            “WITH ALL FAULTS” AND “AS AVAILABLE.” WE MAKE NO EXPRESS OR IMPLIED WARRANTIES OR GUARANTEES
                            ABOUT THE SERVICES.
                            <br>
                            TO THE MAXIMUM EXTENT PERMITTED BY LAW, WE HEREBY DISCLAIM ALL SUCH WARRANTIES, INCLUDING
                            ALL STATUTORY WARRANTIES, WITH RESPECT TO THE SERVICES, INCLUDING WITHOUT LIMITATION ANY
                            WARRANTIES THAT THE SERVICES ARE MERCHANTABLE, OF SATISFACTORY QUALITY,
                            ACCURATE, FIT FOR A PARTICULAR PURPOSE OR NEED, OR NON-INFRINGING.
                            <br>
                            WE DO NOT GUARANTEE THAT THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF
                            THE SERVICES WILL BE EFFECTIVE, RELIABLE OR ACCURATE OR WILL MEET YOUR REQUIREMENTS.
                            WE DO NOT GUARANTEE THAT YOU WILL BE ABLE TO ACCESS OR USE THE SERVICES
                            (EITHER DIRECTLY OR THROUGH THIRD-PARTY NETWORKS) AT TIMES OR
                            LOCATIONS OF YOUR CHOOSING. WE ARE NOT RESPONSIBLE FOR THE ACCURACY, RELIABILITY, TIMELINESS
                            OR COMPLETENESS OF INFORMATION PROVIDED BY ANY OTHER USERS OF THE SERVICES OR
                            ANY OTHER DATA OR INFORMATION PROVIDED OR RECEIVED THROUGH THE SERVICES.
                            <br>
                            EXCEPT AS EXPRESSLY SET FORTH HEREIN, CALENDUCK MAKES NO WARRANTIES ABOUT THE
                            INFORMATION SYSTEMS, SOFTWARE AND FUNCTIONS MADE ACCESSIBLE BY OR THROUGH THE
                            SERVICES OR ANY SECURITY ASSOCIATED WITH THE TRANSMISSION OF SENSITIVE INFORMATION.
                            CALENDUCK DOES NOT WARRANT THAT THE SERVICES WILL OPERATE ERROR-FREE,
                            THAT ERRORS IN THE SERVICES WILL BE
                            FIXED, THAT LOSS OF DATA WILL NOT OCCUR, OR THAT THE SERVICES OR SOFTWARE ARE FREE OF COMPUTER VIRUSES,
                            CONTAMINANTS OR OTHER HARMFUL ITEMS.
                            <br>
                            UNDER NO CIRCUMSTANCES WILL CALENDUCK, ANY OF OUR AFFILIATES, DISTRIBUTORS,
                            PARTNERS, LICENSORS, AND/OR ANY OF OUR OR THEIR DIRECTORS, OFFICERS, EMPLOYEES, CONSULTANTS,
                            AGENTS, OR OTHER REPRESENTATIVES BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY YOUR RELIANCE ON
                            INFORMATION OBTAINED THROUGH THE SERVICES.
                        </p>
                    </li>
                    <li>
                        <h3 class="h4">
                            Limitation of Liability
                        </h3>
                        <p>
                            Your sole and exclusive remedy for any dispute with us is the cancellation of your
                            registration. In no event shall our total cumulative liability to you for any and all claims
                            relating to or
                            arising out of your use of the Services, regardless of the form of action, exceed the
                            greater of:
                            <br>
                            (a) the total amount of fees, if any, that you paid to utilize our Services or
                            (b) one hundred pound sterling (£100).
                            <br>
                            In no event shall we be liable to you (or to any third party claiming under or through you)
                            for any direct,
                            indirect, special, incidental, consequential, punitive or exemplary damages or any bodily
                            injury,
                            emotional distress, death or any other damages arising from your use of or inability to use
                            the Services,
                            whether on-line or off-line, or otherwise in connection with the Services.
                            <br>
                            These exclusions apply to any claims for lost profits, lost data, loss of goodwill or
                            business reputation, cost of procurement of substitute goods or services, work stoppage,
                            computer
                            failure or malfunction, any other commercial damages or losses, or any personal injury or
                            property
                            damages, even if we knew or should have known of the possibility of such damages. These
                            limitations on our
                            liability to you will apply regardless of the legal theory on which your claim is based,
                            including
                            contract, tort (including negligence), strict liability, or any other theory or basis.
                        </p>
                    </li>
                    <li>
                        <h3 class="h4">
                            Governing Law
                        </h3>
                        <p>
                            The Agreement shall be deemed to have been entered into and shall be construed and enforced
                            in accordance with the England and Wales laws.
                        </p>
                    </li>
                    <li>
                        <h3 class="h4">
                            Entire Agreement
                        </h3>
                        <p>
                            This Agreement and all policies and procedures that are incorporated by reference constitute
                            the entire agreement between you and Calenduck for provision and use of the Services. Except
                            where
                            expressly stated otherwise, this Agreement will prevail over any conflicting policy or
                            agreement for the provision or use of the Services.
                            <br>
                            This Agreement sets forth your exclusive remedies with respect to the Services.
                            If any provision or portion of this Agreement is held to be invalid or unenforceable under
                            Law,
                            then it will be reformed and interpreted to accomplish the objectives of such provision to
                            the greatest extent possible, and all remaining
                            provisions will continue in full force and effect.
                        </p>
                    </li>
                    <li>
                        <h3 class="h4">
                            Severability, No Waiver, and Survival
                        </h3>
                        <p>
                            If any part of this Agreement is held invalid or unenforceable, that portion of the
                            Agreement will be construed to reflect the parties' original intent. The remaining portions
                            will remain in
                            full force and effect.
                            <br>
                            Any failure on the part of Calenduck to enforce any provision of this Agreement
                            will not be considered a waiver of our right to enforce such provision. Our rights under
                            this Agreement
                            will survive any termination of this Agreement.
                        </p>
                    </li>
                    <li>
                        <h3 class="h4">
                            Notices
                        </h3>
                        <p>
                            We may provide notices and other communications under this Agreement to you by email to the
                            email address you provide with your account or by posting such notice to your account.
                        </p>
                    </li>
                </ol>
            </li>
        </ol>
    </div>
</section>
{% endblock %}
