{% extends 'web/base.html' %}
{% block title %}{{ object.title }}{% endblock %}
{% block cta %}
<li class="nav-item ml-lg-3">
    <a href="/install/">
        <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png"
             srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x">
    </a>
</li>
{% endblock %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="">
            <h1 class="font-weight-bold">
                {{ object.title }}
            </h1>
            <p class="text-muted">{{ object.created_on|date:"l, N d, Y"}} </p>
            <p class="">{{object.content | safe}}</p>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
{% load static %}
{% endblock %}