{% extends 'web/base.html' %}
{% load static %}
{% load markdown_extras %}
{% block title %}{{ post.title }}{% endblock %}
{% block logo-title %}
<a class="navbar-brand" href="/blog/">
    <img src="{% static 'web/img/logo.png' %}" alt="logo">
    <span class="font-weight-bold">
        Calenduck Tales
    </span>
</a>
{% endblock %}
{% block cta %}
<li class="nav-item ml-lg-3">
    <a href="/install/">
        <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png"
             srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x">
    </a>
</li>
{% endblock %}
{% block content %}
<div class="container p-5">
    <div class="row justify-content-center px-md-5 mx-md-5">
        <div class="mb-4 px-lg-5">
            <h1 class="font-weight-bold">
                {{ post.title }}
            </h1>
            <p class="text-muted">{{ post.created_on|date:"l, N d, Y" }} </p>
            <p>{{ post.content | markdown | safe }}</p>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
{% load static %}
{% endblock %}