<mjml>
  <mj-body>
    <mj-section>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-image width="300px" src="http://localhost:8000/static/web/img/cover.png"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section background-color="#f0f0f0">
      <mj-column>
        <mj-text font-size="24px" color="#626262">Welcome to the pond!</mj-text>
      </mj-column>
      <mj-column width="400px">
        <mj-text color="#525252">
          Hi there!
        </mj-text>
        <mj-text color="#525252">
          I'm Andy, the developer behind Calenduck - thanks for installing the bot in your workspace!
        </mj-text>
        <mj-text color="#525252">
          Just reaching out so you have my contact info. Let me know if you need assistance with anything or you'd like to share some feedback.
        </mj-text>
        <mj-text color="#525252">
          All the best, <br/> Andy
        </mj-text>
        <mj-button background-color="#003c5b" href="https://twitter.com/calenduckapp/">Follow us on Twitter</mj-button>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-social>
          <mj-social-element name="twitter" href="https://twitter.com/calenduckapp/">
            @calenduck
          </mj-social-element>
          <mj-social-element name="website" href="https://www.calenduck.co/">
            www.calenduck.co
          </mj-social-element>
        </mj-social>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>